.box{
    background-color: aqua;
}
.box1{
    background-color: blue;
}
.box2{
    background-color: red;
}
.box3{
    background-color: green;
}
.box4{
    background-color: greenyellow;
}.box5{
    background-color: violet;
}.box6{
    background-color: orange;
}.box7{
    background-color: antiquewhite;
}
.box8{
    background-color: royalblue;
}.box9{
    background-color: darkcyan;
}